<!--<input type="file" (change)="openFile($event)" placeholder="Upload file..." />
<button type="button" [disabled]="importButton" (click)="upload()">Import Candidates</button>
<div *ngIf="error">{{error}}</div>-->


<!--
<form method="post"  enctype="multipart/form-data">
    <input type="file" (change)="openFile($event)" placeholder="Upload file..." />
<button type="button" [disabled]="importButton"  (click)="upload()">Import Candidates</button>
<div *ngIf="error">{{error}}</div>
  </form>-->
<div class="container width-75 margin-auto paddings margin-top" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap.xs="0">
    <div fxFlex class="margin-auto import-file ">
        <form  method="post" enctype="multipart/form-data">
            <input class="file-style" type="file" (change)="openFile($event)" placeholder="Choose file..." />
        </form>
    </div>
</div>
<!--import-button-->
<div class="container width-75 margin-auto paddings" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap.xs="0">
                <input type="text" placeholder="Remarks" (blur)="getRemarks($event)"/>
    <div fxFlex class="margin-auto  text-center ">
        <button md-button type="button" [disabled]="importButton" (click)="upload()">Import Candidates</button>
    </div>
</div>
<!--error message-->
<div class="container width-75  margin-auto paddings" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap.xs="0">
    <div fxFlex class="margin-auto  error-style"  *ngIf="error">{{error}}
    
</div>
</div>
            <button md-raised-button color="primary"  type="button" (click)="getHistory()">View Import History</button>
 <div *ngIf="allHistories">           
<table>
<tr><th>Total Profiles</th><th>Success</th><th>Failure</th><th>Created On</th><th>Remarks</th>  </tr>
<tr *ngFor="let history of allHistories">
<td>{{history.importResult.total}}</td>
<td>{{history.importResult.success}}</td>
<td>{{history.importResult.failed}}</td>
<td>{{history.requestedOn}}</td>
<td>{{history.remarks}}</td>
<td><button md-raised-button color="primary"  type="button" (click)="getDetailHistory(history._id)">View Failure Detail</button></td>
</tr>
</table>
 </div>
 <div *ngIf="allFailureHistories">
{{allFailureHistories}}
 </div>

<app-footer></app-footer>