<md-grid-list cols="1" rowHeight="100px">
  <md-grid-tile>
    <div fxLayout="row" fxLayoutAlign="start end">
      <md-input-container class="input">
        <input mdInput type="text" [(ngModel)]="skillName" placeholder="Search Skills..." />
      </md-input-container>
    </div>

    <!--sign in button-->
    <div fxLayout="row">
      <div fxFlex="100">
        <button md-icon-button (click)="getSkills({name:skillName,limit:25})">
                <i class="material-icons input">search</i>
            </button>
      </div>
    </div>

  </md-grid-tile>
</md-grid-list>
<div fxLayout="row" *ngIf="showCard">
  <div fxFlex></div>
<md-card>
  <md-card-content>
    <md-list fxLayout="row" fxLayoutWrap>
      <md-list-item *ngFor="let item of showData" ><div class="item">{{item}}</div></md-list-item>
    </md-list>
  </md-card-content>
</md-card>
  <div fxFlex></div>

</div>

<app-footer></app-footer>
