<div style="text-align:center;margin:auto;margin-top:100px;">
            <button md-raised-button color="primary"  type="button" (click)="openDialog()" >Add Language</button>
</div>

<div class="demo-data-table" rowHeight="1000">
  <div class="card">
    <div class="header">
      <h3 class="title">List of Languages</h3>
    </div>
    <div class="content">
      <table [md2Data]="data | dataPipe : search" #md2="md2DataTable" [rowsPerPage]="5">
        <thead>
          <tr>
            <td colspan="4">
              <md-input-container class="full-width">
                <input mdInput type="text" class="validate" placeholder="Filter By Name" [(ngModel)]="search" />
              </md-input-container>
            </td>
          </tr>
          <tr>
            <th style="width: 20%" md2SortBy="name">Name</th>
            <th style="width: 50%" md2SortBy="code">Code</th>
            <th style="width: 10%" md2SortBy="nativeName">Native Name</th>
            <th style="width: 20%">Edit/Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of md2.data">
            <td>{{i.name}}</td>
            <td>{{i.code}}</td>
            <td>{{i.nativeName}}</td>
            <td><button (click)="openDialog(i)"><i class="material-icons">edit</i></button><button (click)="delete(i)"><i class="material-icons">delete</i></button></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              <md2-pagination [rowsPerPageSet]="[5,10,15]"></md2-pagination>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<app-footer></app-footer>