<div class="container paddings" fxLayoutGap.xs="0">

  <div fxFlex fxFlexOffset.xs="0" class="full-width form-style">

    <form [formGroup]="searchForm" class={{cls}}>
      <div fxLayout="row">
        <md-input-container class="full-width">
          <input formControlName="searchControl" mdInput placeholder="Search Candidate" (focus)="change()" (blur)="fullView()" (keyup.enter)="getSearch() "
          />
          <md-hint>
            <p class="error-style">
              {{message}}
            </p>
          </md-hint>
        </md-input-container>
      </div>
    </form>
  </div>
</div>


<div fxLayout="row" fxLayoutWrap fxLayoutAlign="center" class="results">
  <div *ngFor="let data of displayData" class="cards">
    {{data}}
    <sam-profile-thumbnail [thumb]="thumbData">
      <div openCard>
        <button md-icon-button (click)="openCardDialog(username)" class="openCardBtn">
        <i class="material-icons">fullscreen</i>
      </button> </div>
    </sam-profile-thumbnail>
  </div>
</div>

<div fxLayout="row">
  <div fxFlex></div>
  <button md-icon-button [disabled]="!prevBtn" (click)="onPrev()"><i class="material-icons">chevron_left</i></button>

  <div fxFlex="50px"></div>
  <button md-icon-button [disabled]="!nextBtn" (click)="onNext()"><i class="material-icons">chevron_right</i></button>

  <div fxFlex></div>

</div>
<!--<app-footer></app-footer>-->