/*.icon{
    font-size: 50px;
    line-height: 0px;
    margin: auto;
    color: gray;
}*/
.results{
    align-content: center;
    text-align: center;
}
.full-width {
    width: 100%;
    margin: auto;
}
.error-style {
    
    font-size: 12px;
    transition: all .7s;
    color: #F44336;
}
/*.view{
    position: fixed;
}*/

.search-box
{
    width:80%;
    margin:auto;
}
.openCardBtn{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.expand{

  -webkit-animation: moveDown 1s .1s ease forwards;
  animation: moveDown 1s .1s ease forwards;
}

 
@-webkit-keyframes moveDown {
  100% {
   width:65%;
  }
}

@keyframes moveDown {
  100% {
   width:65%;
  }
}

.expand-out{
  -webkit-animation: moveDowns 1s .1s ease forwards;
  animation: moveDowns 1s .1s ease forwards;
}


@-webkit-keyframes moveDowns {
  0% {
   }
  50% {
    
  }
  100% {
   width:100%;
  }
}

@keyframes moveDowns {
  0% {
   }
  50% {
    
  }
  100% {

   width:100%;
  }
}
 
.paddings
{
    padding:1% 5%;
    
}
.big-res
{
    font-size: 40px;
}
.form-style
{
    /*-webkit-box-shadow: 3px 3px 5px 6px #ccc;  
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  
  box-shadow:         3px 3px 5px 6px #ccc; 
  animation: blink 1s linear infinite;*/
}
/*
@keyframes blink
{
    50%{

    -webkit-box-shadow: 3px 3px 5px 6px #6d587a;  
  -moz-box-shadow:    3px 3px 5px 6px #6d587a;  
  box-shadow:         3px 3px 5px 6px #6d587a; 
    }
}*/


@media (max-width: 400px) {
.big-res
    {
    font-size: 25px;
}


    
}

@media (max-width: 551px) {
.big-res
    {
    font-size: 30px;
}

}



@media (min-width: 10px) {
.results{
    margin-left:0;
    margin-right: 0;
}

.cards{
    margin:auto;
    margin-top:20px;
    margin-bottom: 20px;
  
}
   
}

@media (min-width: 768px) {
.results{
    margin: auto;
    margin-left: 10%;
    margin-right: 10%;
}

.cards{
    margin:20px;
 
}
}
