<!--loading screen-->
<div *ngIf="loading" class="loading">
  <md-spinner></md-spinner>
</div>


<div class="container paddings" fxLayoutGap.xs="0">

  <div fxFlex fxFlexOffset.xs="0" class="full-width form-style">

    <form [formGroup]="searchForm" class={{cls}}>
      <div fxLayout="row">
        <md-input-container class="full-width">
          <input formControlName="searchControl" mdInput placeholder="Search Candidate"  (keyup.enter)="getSearchResult() "
          />
          <md-hint>
            <p class="error-style">
              {{message}}
            </p>
          </md-hint>
        </md-input-container>
      </div>
    </form>
  </div>
</div>


<div fxLayout="row" fxLayoutWrap fxLayoutAlign="center" class="results">
  <div *ngFor="let data of result" class="cards">
    <sam-profile-thumbnail [thumb]="data">
      <div openCard>
        <button md-icon-button (click)="openCardDialog(data.email)" class="openCardBtn">
        <i class="material-icons">fullscreen</i>
      </button> </div>
    </sam-profile-thumbnail>
  </div>
</div>
<div class="noRes" *ngIf="noResult">
  <i class="material-icons icon">sentiment_dissatisfied</i>
  <br>
  No Result Found
  </div>

<div *ngIf="showBtn" fxLayout="row">
  <div fxFlex></div>
  <button md-icon-button [disabled]="!prevBtn" (click)="onPrev()"><i class="material-icons">chevron_left</i></button>

  <div fxFlex="50px"></div>
  <button md-icon-button [disabled]="!nextBtn" (click)="onNext()"><i class="material-icons">chevron_right</i></button>

  <div fxFlex></div>

</div>